[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
httpx = "*"
flask = "*"
flask-sqlalchemy = "*"

[dev-packages]
black = "*"
rope = "*"
jupyterlab = "*"
bpython = "*"

[requires]
python_version = "3.10"
