[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
httpx = "*"
flask = "*"
flask-sqlalchemy = "==3.0.5"
flask-migrate = "*"
flask-httpauth = "*"
python-dotenv = "*"
rich = "*"
sqlalchemy = "==1.4.36"

[dev-packages]
black = "*"
rope = "*"
jupyterlab = "*"
bpython = "*"

[requires]
python_version = "3.10"
