body {
	background: Linen;
	margin-top: 50px;
	margin-left: 100px;
}

th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        margin: 0 auto;
}

div.container {
        width: 80%;
}

p {
	font-family: Georgia, serif;
	font-size: 1.2em;
	color: DarkSlateGray;
}

td.small {
	font-family: Georgia, serif;
	font-size: 1.2em;
	color: DarkSlateGray;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2.0em;
	color: FireBrick;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.7em;
	color: FireBrick;
}

th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	color: FireBrick;
}

label {
	font-family: Georgia, serif;
	font-size: 1.2em;
	color: DarkSlateGray;
}

select.dropdown {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  background: #f1f1f1;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  width: 200px;
  background: #f1f1f1;
}

form.search button {
  padding: 10px;
  align: left;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}