{% extends 'layoutsInitial.html' %}



{% block content %}

<div class="container">
    <div class="container text-center">
        <div class="card-body">
            <h2 class="card-title">Welcome to the Sequence Index</h2>
            <p class="card-text">We will help you find the sequence you are looking for.  You can search by entering the sequence or vendor name.</p>
            <p class="card-text">Vendor Count: <a href="{{ url_for('vendor_list')}}">{{ vendor_count }}</a> -- Sequence Count: {{ sequence_count }}</p>
            <p class="card-text"><a href="{{ url_for('buynsell') }}">.</a></p>
        </div>
    </div>
    <div class="container text-center">
        <div class="card-body">
            <h2 class="card-title">{{ title }}</h2>
        </div>
        <div>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="daryle" data-color="#5F7FFF" data-emoji=""  data-font="Cookie" data-text="Buy me a bunch of pixels!" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
        </div>
        <div>
            <p class="card-text">Use Search in upper right to search the entire catalog</p>
        </div>
    </div>
    <table class="table table-striped" id="data">
        <thead>
        <tr>
            <th></th>
            <th>Store Name</th>
            <th>Sequence</th>
            <th>Price</th>
            <th>First Seen</th>
        </tr>
        </thead>
        {% for sequence in sequences %}
            <tr>
            {% if (today - sequence.time_created).days < 30 %}
                <td><img src='/static/new.gif' width="25" height="18"></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
                <td>{{ sequence.vendor.name }}</td>
                <td><a href="{{ sequence.link }}" target="_blank">{{ sequence.name }}</a></td>
                <td>{{ sequence.price }}</td>
                <td>{{ sequence.time_created.date() }}</td>
            </tr>
        {% endfor %}
    </table>


</div>


{% endblock content %}