<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='/static/main.css' />
</head>
<body>
<center><h1>{{title}}</h1></center>
    <form class="search" action="{{url_for('sequence')}}" method="post" style="margin:auto;max-width:400px">
        <input name="search_string" type="text" placeholder="Search by store or sequence" value="{{request.form.sequence}}">
        <button type="submit"><i class="fa fa-search"></i>
        </button>
    </form>
    <p></p>
    {% if sequences %}
    <center>
    {% if sequences[0] %}
        <h1>Search Results</h1>
    <div id="results">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Store Name</th>
                <th>Sequence</th>
                <th>Last Seen</th>
            </tr>
            </thead>
        {% for sequence in sequences %}
        <tr>
            {% if sequence.is_new %}
            <td><img src='/static/new.gif' width="25" height="18"></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ sequence.vendor_name }}</td>
            <td><a href="{{ sequence.link }}" target="_blank">{{ sequence.name }}</a></td>
            <td>{{ sequence.last_updated }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    {% else %}
        <h1>Search Results</h1>
        <h3><i>Nothing Found</i></h3>
    {% endif %}
    </center>
    {% endif %}
</body>
</html>